<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet"> <!-- Article editor test -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <title><%= data.title %></title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/blogpost.css">
    <link rel="stylesheet" type="text/css" href="/css/account.css">
    <link rel="stylesheet" type="text/css" href="/css/category.css">
    <link rel="stylesheet" type="text/css" href="/css/paginate.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/article.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <%- body %>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script> <!-- Article editor test -->
    <script src="/js/savepost.js"></script>
    <script src="/js/category.js"></script>
    <script src="/js/pagination.js"></script>
    <script src="/js/account.js"></script>
    <script src="/js/article.js"></script>
    <script src="/js/onClick.js"></script>
</body>
</html>