.post-container {
    width: 70%;
    margin: auto;
}

.post-header-container .post-header-img {
    margin: auto;
    max-width: 100%;
    object-fit: cover;
    width: 75%;
    max-height: 23rem;
    display: block;
    border-radius: 2px;
}

.post-header-container h1 {
    font-size: 4.1rem;
}

.post-header-info {
    display: flex;
    align-items: center;
}

.post-header-info img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.post-header-info > span {
    margin-left: 8px;
}

.post-save-article {
    width: fit-content;
    margin-left: auto;
    padding: 7px 5px;
    background-color: rgb(1, 172, 4);
    text-decoration: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.post-content-container {
    margin-top: 3rem;
    font-size: 1.3rem;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: "Playfair Display", serif;
    letter-spacing: .2px;
    font-weight: 400;
}

.post-content-container img {
    display: block;
    margin: auto;
    max-height: 28rem;
    margin-top: 30px;
    margin-bottom: 30px;
}