.post-container {
    width: 70%;
    margin: auto;
}

.post-header-container .post-header-img {
    margin: auto;
    max-width: 100%;
    object-fit: cover;
    width: 75%;
    max-height: 23rem;
    display: block;
    border-radius: 2px;
}

.post-content-container {
    margin-top: 3rem;
}

.post-header-info {
    display: flex;
    align-items: center;
}

.post-header-info img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.post-header-info span {
    display: block;
    margin-left: 8px;
}