<form action="/sign-in/access" method="post">
    <!-- User Name Field -->
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required aria-required="true" placeholder="Your username">
    </div>
    
    <!-- Email Field -->
    <!-- <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required aria-required="true" placeholder="Your email">
    </div> -->

     <!-- Password Field -->
     <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required aria-required="true" placeholder="passwerd">
    </div>

    <!-- Submit Button -->
    <div class="form-group">
    <button type="submit">Submit</button>
    </div>
</form>