<div class="form-holder-header">
    Sign up on RecipeRave
</div>
<form action="/sign-up/access" method="post">
    <!-- User Name Field -->
    <div class="form-group">
        <!-- <label for="username">Username</label> -->
        <input type="text" id="username" name="username" required aria-required="true" maxlength="20" placeholder="Username">
    </div>

    <!-- Full Name Field -->
    <div class="form-group">
        <!-- <label for="fullname">Full name</label> -->
        <input type="text" id="fullname" name="fullname" required aria-required="true" maxlength="50" placeholder="Fullname">
    </div>
    
    <!-- Email Field -->
    <div class="form-group">
        <!-- <label for="email">Email</label> -->
        <input type="email" id="email" name="email" required aria-required="true" maxlength="50" placeholder="Email">
    </div>

    <!-- Password Field -->
    <div class="form-group">
        <!-- <label for="password">Password</label> -->
        <input type="password" id="password" name="password" required aria-required="true" minlength="5" placeholder="Password">
    </div>

    <div class="form-group">
        <button type="submit">Sign up</button>
    </div>
    <div class="form-group">
        <a href="/sign-in">Already registered?</a>
    </div>
</form>